body {
    width: 800px;
    padding: 10px;
    background-color: #2d2d2d;
    /* Dark background color */
    color: #ffffff;
    /* Text color */
}

h2 {
    color: #61dafb;
    /* Header color */
}

li {
    list-style: none;
    margin-bottom: 10px;
}

pre {
    background-color: #333;
    /* Darker background color for extension details */
    padding: 10px;
    border: 1px solid #555;
    margin-top: 5px;
    overflow: auto;
    display: none;
    /* Hide by default */
}

li:hover pre {
    display: block;
    /* Show on hover */
}
